{% extends "template.njk" %} {% block content %}
<section class="bg-black text-white">
  <div class="section">
    <div class="container flex flex-col items-center gap-5 md:gap-10 max-w-[640px]">
      <h1 class="text-xl text-center font-medium">404</h1>
      <div class="flex flex-col gap-3 md:gap-6">
        <h2 class="text-lg text-center font-medium">Seite nicht gefunden</h2>
        <p class="text-sm text-center">Die Seite, auf die Sie über den Link geklickt haben, existiert nicht, Sie können uns bei Bedarf kontaktieren</p>
      </div>
      <a href="/" class="btn text-sm px-8 py-4 font-medium"> Zurück zur Startseite </a>
    </div>
  </div>
</section>
{% endblock %}
