{% extends "template.njk" %}

{% block content %}
<section class="section bg-black">
	<div class="container prose-xl text-white py-12">
		<h1>Title</h1>
		<h2>Title 2</h2>
		<h3>Title 3</h3>
		<h4>Title 4</h4>
		<h5>Title 5</h5>
		<h6>Title 6</h6>

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat
			molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus
			molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>

		<ul>
			<li>List item one</li>
			<li>List item two</li>
			<li>List item three</li>
			<li>List item four</li>
		</ul>

		<ol>
			<li>List item one</li>
			<li>List item two</li>
			<li>List item three</li>
			<li>List item four</li>
		</ol>

		<blockquote>
			<p>Blockquote. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit
				arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.</p>

		</blockquote>

		<p>Some <strong>strong text</strong> and some <em>emphasised text</em> and some <u>underlined text</u> and some
	</div>
</section>
{% endblock %}