{% extends "template.njk" %} {% block content %}
<section class="bg-black text-white">
  <div class="section">
    <div class="container flex flex-col items-center gap-5 md:gap-10 max-w-[640px]">
      <svg width='100px' height='100px'>
        <use xlink:href='./assets/sprite.svg#thankyou_sprite'></use>
        </svg>
      <div class="flex flex-col gap-3 md:gap-6">
        <h1 class="text-lg text-center font-medium">We got your message</h1>
        <p class="text-sm text-center">Die Seite, auf die Sie über den Link geklickt haben, existiert nicht, Sie können uns bei Bedarf kontaktieren</p>
      </div>
      <a href="/" class="btn text-sm px-8 py-4 font-medium"> Zurück zur Startseite </a>
    </div>
  </div>
</section>
{% endblock %}
