<section class="section relative text-white">
  <picture class="absolute inset-0 -z-10 block h-full w-full">
    <img src="{% static './images/planet.jpg' %}" class="h-full w-full object-cover" alt="" />
  </picture>
  <div class="container flex flex-col justify-between">
    <div class="section-heading md:mb-56">
      <h2 class="section-heading__title">IMO Distribution Schlüsselwerte</h2>
    </div>
    <div class="grid grid-cols-1 gap-4 text-black md:grid-cols-3">
      <div class="flex flex-col gap-6 bg-white p-4 md:p-6">
        <span class="text-sm text-white-50"> 01 </span>
        <p class="text-sm font-medium">Unsere Werte und Verpflichtungen sind die Grundbausteine unserer Partnerschaften.</p>
      </div>
      <div class="flex flex-col gap-6 bg-white p-4 md:p-6">
        <span class="text-sm text-white-50"> 02 </span>
        <p class="text-sm font-medium">Wir tun mehr als nur mit Produkten handeln; wir investieren auch in Beziehungen.</p>
      </div>
      <div class="flex flex-col gap-6 bg-white p-4 md:p-6">
        <span class="text-sm text-white-50"> 03 </span>
        <p class="text-sm font-medium">In der heutigen Welt der weitreichenden Automatisierung glauben wir, dass Authentizität und persönlicher Kontakt wichtiger denn je sind.</p>
      </div>
    </div>
  </div>
</section>
<section class="section relative text-white bg-blur">
  <picture class="absolute inset-0 -z-10 block h-full w-full">
    <img src="{% static './images/image2.jpg' %}" class="h-full w-full object-cover" alt="" />
  </picture>
  <div class="container flex flex-col justify-between relative z-10">
    <div class="section-heading md:mb-56">
      <h2 class="section-heading__title">Unsere stärke</h2>
    </div>
    <div class="flex flex-col items-start gap-10 max-w-xl">
      <div class="flex flex-col gap-6">
        <p class="text-base font-medium leading-8">Unser Ziel ist es, eine führende Position auf dem nationalen und internationalen Markt zu erreichen, neue geografische Gebiete mit den besten Lösungen für jeden Kunden zu erschließen</p>
        <p class="text-sm">Die IMO Distribution GmbH ist ein dynamischer internationaler Distributor und Großhändler mit Sitz in Hannover. Unser Fokus liegt auf A-Marken der Bereiche Gesundheit, Umwelt & Lifestyle.</p>
      </div>
      <button class="btn font-medium py-4 px-8" x-on:click="modalOpen = true">Get in touch</button>
    </div>
  </div>
</section>
