<section class="">
  <div class="aspect-h-9 aspect-w-16 relative">
    <div class="container absolute top-14 z-10 flex max-lg:flex-col items-start gap-32 text-white">
      <h2 class="text-xl relative">
        <span>IMO </span>
        <span >Distribution</span>
        <span class="relative">
          <span> Werte </span>
          <a href="#" class="text-base absolute right-0 top-1/2 flex h-24 w-24 -translate-y-1/2 translate-x-full items-center justify-center rounded-full bg-red md:h-36 md:w-36"
            >Get in <br />
            touch</a
          >
        </span>
      </h2>
      <div class="flex flex-col md:flex-row md:gap-5 text-sm">
        <p class="flex-1">Unsere Werte und Verpflichtungen sind die Grundbausteine unserer Partnerschaften.</p>
        <p class="flex-1">Wir tun mehr als nur mit Produkten handeln; wir investieren auch in Beziehungen. In der heutigen Welt der weitreichenden Automatisierung glauben wir, dass Authentizität und persönlicher Kontakt wichtiger denn je sind.</p>
      </div>
    </div>
    <picture class="absolute inset-0 block">
      <img src="{% static './images/planet.jpg' %}" class="block h-full w-full object-cover" alt="" />
    </picture>
  </div>
</section>
<section class="">
  <div class="aspect-h-11 aspect-w-16 relative">
    <div class="container absolute top-14 z-10 max-lg:flex-col flex items-start gap-32 text-white">
      <h2 class="text-xl relative flex-1">
        <span>Unsere </span>
   
        <span class="relative">
          <span> stärke</span>
          <a href="#" class="text-base absolute right-0 top-1/2 flex h-24 w-24 -translate-y-1/2 translate-x-full items-center justify-center rounded-full bg-red md:h-36 md:w-36"
            >Get in <br />
            touch</a
          >
        </span>
      </h2>
      <div class="flex flex-col flex-1">
        <p class="flex-1 py-8 border-b border-white">Unsere Werte und Verpflichtungen sind die Grundbausteine unserer Partnerschaften.</p>
        <p class="flex-1 py-8">Wir tun mehr als nur mit Produkten handeln; wir investieren auch in Beziehungen. In der heutigen Welt der weitreichenden Automatisierung glauben wir, dass Authentizität und persönlicher Kontakt wichtiger denn je sind.</p>
      </div>
    </div>
    <picture class="absolute inset-0 block">
      <img src="{% static './images/image2.jpg' %}" class="block h-full w-full object-cover" alt="" />
    </picture>
  </div>
</section>
