<section class="section container">
  <div class="section-heading">
    <h2 class="section-heading__title">Imo Distribution Unser team</h2>
    <div class="section-heading__text">
      <p class="section-heading__desc mb-5">Unsere engagierten Mitarbeiter sind unser wertvollstes Kapital und leben unsere Philosophie, wodurch sie ihren eigenen Beitrag zur IMO Distribution leisten können.</p>
      <a href="" class="flex w-full max-w-xs justify-between border-b border-black pb-3 font-medium">
        Contact us
        <svg width="24" height="24">
          <use xlink:href="./assets/sprite.svg#slider-right_sprite"></use>
        </svg>
      </a>
    </div>
  </div>
  <div class="swiper js-team-slider">
    <div class="swiper-wrapper max-md:pb-8 md:grid md:grid-cols-4 md:gap-8">
      <div class="swiper-slide col-span-2">
        <div class="flex flex-col">
          <picture class="mb-5 block h-full w-full">
            <img src="{% static './images/team.jpg' %}" class="h-full w-full object-cover" alt="" />
          </picture>
          <div class="flex flex-col md:flex-row md:justify-between">
            <div class="flex flex-col gap-2">
              <h3 class="text-sm font-medium">Alexander Vulikh</h3>
              <a href="" class="text-sm text-white-50">alex.vulikh@imodistri.com</a>
              <a href="" class="text-sm text-white-50">+49 178 279 46 04</a>
            </div>
            <p class="text-sm font-medium text-red">CEO / Sales Director</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="flex flex-col">
          <picture class="mb-5 block h-full w-full ">
            <img src="{% static './images/team.jpg' %}" class="h-full w-full object-cover" alt="" />
          </picture>
          <div class="flex flex-col  md:justify-between md:gap-10">
            <div class="flex flex-col gap-2 text-sm">
              <p class="text-blue font-medium">Sales Assistant </p>
              <h3 class="font-medium">Faik Kaletovic</h3>
            </div>
            <div class="flex flex-col text-white-50 text-sm gap-3">
              <a href="">
                faik.kaletovic@imodistri.com
              </a>
              <a href="">
                +49 511 9999 4 247
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="flex flex-col">
          <picture class="mb-5 block h-full w-full ">
            <img src="{% static './images/team.jpg' %}" class="h-full w-full object-cover" alt="" />
          </picture>
          <div class="flex flex-col  md:justify-between md:gap-10">
            <div class="flex flex-col gap-2 text-sm">
              <p class="text-blue font-medium">Sales Assistant </p>
              <h3 class="font-medium">Faik Kaletovic</h3>
            </div>
            <div class="flex flex-col text-white-50 text-sm gap-3">
              <a href="">
                faik.kaletovic@imodistri.com
              </a>
              <a href="">
                +49 511 9999 4 247
              </a>
            </div>
          </div>
        </div>
      </div>
     
    </div>
    <div class="swiper-scrollbar md:hidden"></div>
  </div>
</section>
<picture class="aspect-h-9 aspect-w-16 block w-full">
  <img src="{% static './images/image.jpg' %}" class="h-full w-full object-cover" alt="" />
</picture>
